* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.medsos {
  padding: 0px 0px;
  background-color: #e4e4e4;
}

.medsos ul li {
  display: inline;
  float: right;
  padding: 10px;
  align-items: center;
}

.medsos ul li a i {
  color: #0e4eda;
  float: right;
}

.medsos ul li :hover {
  color: #da1c0e;
}

.img-logo {
  width: 160px;
  display: inline-block;
}

.navbar-nav a {
  font-size: 18px;
  text-transform: uppercase;
  float: right;
  color: #0e4eda;
}

footer {
  padding: 30px 0;
  background-color: #0e4eda;
  color: #fff;
  text-align: center;
}

.carousel-item {
  height: 25rem;
  background: #0e4eda;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

.carousel-indicators {
  bottom: 60px;
  margin: auto;
}

.carousel-caption {
  bottom: 70px;
}

.carousel-caption h3 {
  font-size: 2rem;
}

.carousel-caption h6 {
  margin: auto;
  font-size: 1rem;
  line-height: normal;
}

.carousel-control-prev .carousel-control-prev-icon {
  background-color: #f80707;
}

.carousel-control-next .carousel-control-next-icon {
  background-color: #f50404;
}

@media (min-width: 1306px) {
  .carousel-caption h3 {
    font-size: 2rem;
  }

  .carousel-caption h6 {
    margin: auto;
    font-size: 1rem;
    line-height: normal;
  }

  .carousel-item {
    height: 30rem;
    background: #0e4eda;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .carousel-inner {
    width: 100%;
    max-height: auto !important;
  }

  .carousel-indicators {
    bottom: 50px;
    margin: auto;
  }

  .carousel-caption {
    bottom: 60px;
  }

  .box .col-md-6 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  h4 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .contact h4 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .contact p {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 1306px) {
  .carousel-caption h3 {
    font-size: 2rem;
  }

  .carousel-caption h6 {
    margin: auto;
    font-size: 1rem;
    line-height: normal;
  }

  .carousel-item {
    height: 30rem;
    background: #0e4eda;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .carousel-inner {
    width: 100%;
    max-height: auto !important;
  }

  .carousel-indicators {
    bottom: 50px;
    margin: auto;
  }

  .carousel-caption {
    bottom: 60px;
  }

  .box .col-md-6 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  h4 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .box .contact {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  .contact h4 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .contact p {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }
}

@media (min-width: 715px) and (max-width: 992px) {
  .carousel-caption h3 {
    font-size: 2rem;
  }

  .carousel-caption h6 {
    margin: auto;
    font-size: 1rem;
    line-height: normal;
  }

  .carousel-item {
    height: 30rem;
    background: #0e4eda;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .carousel-inner {
    width: 100%;
    max-height: 380px !important;
  }

  .carousel-indicators {
    bottom: 30px;
    margin: auto;
  }

  .carousel-caption {
    bottom: 130px;
  }

  .box .col-md-6 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  h4 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .box .contact {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  .contact h4 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .contact p {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }
}

@media (min-width: 501px) and (max-width: 714px) {
  .carousel-caption h3 {
    font-size: 1rem;
  }

  .carousel-caption h6 {
    margin: auto;
    font-size: 0.7rem;
    line-height: normal;
  }

  .carousel-item {
    height: 30rem;
    background: #0e4eda;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .carousel-inner {
    width: 100%;
    max-height: 280px !important;
  }

  .carousel-indicators {
    bottom: 20px;
    margin: auto;
  }

  .carousel-caption {
    bottom: 220px;
  }

  .box .col-md-6 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  h4 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .box .contact {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  .contact h4 {
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
  }

  .contact p {
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .carousel-caption h3 {
    font-size: 1rem;
  }

  .carousel-caption h6 {
    margin: auto;
    font-size: 0.7rem;
    line-height: normal;
  }

  .carousel-item {
    height: 30rem;
    background: #0e4eda;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .carousel-inner {
    width: 100%;
    max-height: 210px !important;
  }

  .carousel-indicators {
    bottom: 10px;
    margin: auto;
  }

  .carousel-caption {
    bottom: 280px;
  }

  .box .col-md-6 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  h4 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .box .contact {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  .contact h4 {
    margin: 10px 0;
    font-size: 13px;
    text-align: center;
  }

  .contact p {
    margin: 10px 0;
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 399px) {
  .carousel-caption h3 {
    font-size: 0.7rem;
  }

  .carousel-caption h6 {
    margin: auto;
    font-size: 0.5rem;
    line-height: normal;
  }

  .carousel-item {
    height: 30rem;
    background: #0e4eda;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .carousel-inner {
    width: 100%;
    max-height: 160px !important;
  }

  .carousel-indicators {
    bottom: 10px;
    margin: auto;
  }

  .carousel-caption {
    bottom: 330px;
  }

  .box .col-md-6 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  .box .contact {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    float: center;
  }

  .contact h4 {
    margin: 10px 0;
    font-size: 13px;
    text-align: center;
  }

  .contact p {
    margin: 10px 0;
    font-size: 13px;
    text-align: center;
  }

  .map {
    width: 100%;
    height: 300px;
  }

  footer {
    padding: 70px 0px;
    background-color: #0e4eda;
    color: #fff;
    text-align: center;
  }
}

section {
  padding: 30px 0;
}

section h3 {
  text-align: center;
  padding: 20px 0;
  color: #da370e;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 20px;
}

section p {
  padding: 0;
  outline: 0;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  text-align: justify;
  margin: 0;
  font-weight: inherit;
  margin-bottom: 25px;
  color: #0e4eda;
}

/*Service*/
.icon {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  margin: 0 auto;
}

.icon :hover {
  color: #da1c0e;
}

.about,
.service {
  padding-bottom: 100px;
}

.about p {
  color: #666;
  word-spacing: 2px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.service {
  background-color: #f9f9f9;
}

.box {
  color: #0e4eda;
}

.box :hover {
  color: #da1c0e;
}

.box:after {
  content: "";
  display: block;
  clear: both;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #da1c0e;
}

.navbar-light .navbar-nav .nav-link {
  color: #da1c0e;
}

.nav-link.active,
.nav-link:focus {
  color: #0e4eda;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgba(241, 238, 238, 0.301);
  }

  .navbar-nav a {
    font-size: 14px;
    font-weight: normal;
  }
}

/*Label*/
.label p {
  color: #fff;
  padding: 1px 1;
  margin: 0;
  font-style: italic;
}
.label {
  background-color: #0e4eda;
  color: #fff;
  padding: 8px 0;
}
