* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  border: 1px solid #da1c0e;
}
.box {
  padding: 30px;
  background: #eee;
  margin: 10px 0px;
  text-align: center;
}

@media screen and(max-width: 400px) {
  .videoyoutube {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-auto-flow: row dense;
  }

  .gallery-item {
    margin: 0.7rem;
  }

  .gallery-item:first-child {
    grid-row: span 1;
  }

  .gallery-item :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: span;
  }

  .gallery-item:nth-child(6),
  .gallery-item:nth-child(8) {
    grid-row: span 2;
  }
}

@media (min-width: 960px) {
  .gallery-item {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto-flow);
  }

  .gallery-item:first-child,
  .gallery-item:nth-child(7),
  .gallery-item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gallery-item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-indent: 80px;
  text-align: justify;
}

.container h4 {
  font-size: 14px;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}

/*Medsos*/
.medsos {
  padding: 0px 0px;
  background-color: #fff8f8e7;
}

.col-lg-12 ul li {
  float: right;
  padding: 10px;
  align-items: center;
}
.medsos ul li a i {
  color: #0e4eda;
  float: right;
}

.medsos ul li :hover {
  color: #da1c0e;
}

/*Logo*/
.col-sm-8 .img-logo {
  width: 30%;
}
.img-logo {
  width: 160px;
  height: auto;
  padding: 15px 0;
  float: left;
  margin-left: 3px;
}

/*NavBar*/
header h1 {
  float: left;
  padding: 15px 0;
  color: #0e4eda;
}

header ul {
  float: right;
  padding: 5px auto;
}
header ul li {
  display: inline-block;
}
header ul li a {
  padding: 25px 20px;
  display: inline-block;
  color: #0e4eda;
  text-decoration: none;
}

header ul li a:hover {
  color: #da1c0e;
}

/*Slider*/
.carousel-item {
  height: 25rem;
  background: #0e4eda;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}
.carousel-inner {
  width: 100%;
  max-height: 380px !important;
}

.carousel-caption h6 {
  text-align: center;
  font-size: 1rem;
}

.d-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.carousel-indicators {
  margin: 0px;
  height: 2px;
}

.carousel-control-prev .carousel-control-prev-icon {
  background-color: #f80707;
}

.carousel-control-next .carousel-control-next-icon {
  background-color: #f50404;
}

/*Service*/
.icon {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  margin: 0 auto;
}

.icon :hover {
  color: #da1c0e;
}

/*Gallery*/
.gallery {
  margin: 0 0.65rem;
}

.gallery-item {
  height: auto;
  margin: 0.5rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  padding: 50px 0;
}
section h3 {
  text-align: center;
  padding: 20px 0;
  color: #da370e;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 20px;
}

section p {
  padding: 0;
  outline: 0;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: inherit;
  margin-bottom: 25px;
  color: #0e4eda;
}

/*Embed*/
.embedded-video-large {
  background-color: #000;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  width: 400px;
  height: 230px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.videoyoutube {
  text-align: center;
  margin: 20px auto;
  width: 50%;
}

.video-responsive iframe {
  position: center;
  top: 0;
  left: 0;
  border: 0;
}

.about,
.service {
  padding-bottom: 100px;
}
.about p {
  color: #666;
  word-spacing: 2px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.service {
  background-color: #f9f9f9;
}
.box {
  color: #0e4eda;
}
.box :hover {
  color: #da1c0e;
}
.box:after {
  content: "";
  display: block;
  clear: both;
}
.box .col-4 {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}

.box .col-4 h4 {
  margin: 20px 0;
}
.box .col-4 h4 p {
  margin: 20px 0;
}

footer {
  padding: 30px 0;
  background-color: #0e4eda;
  color: #fff;
  text-align: center;
}
.bg-loader {
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-loader .loader {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: #0e4eda;
  border-right-color: #0e4eda;
  border-bottom-color: #0e4eda;
  animation: puterin 0.8s linear infinite;
}

/*Label*/
.label p {
  color: #fff;
  padding: 1px 1;
  margin: 0;
  font-style: italic;
}
.label {
  background-color: #0e4eda;
  color: #fff;
  padding: 8px 0;
}
@keyframes puterin {
  100% {
    transform: rotate(360deg);
  }
}
